<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% capture page_title%}{{page.title}}{%endcapture%}

  <title>{% if page.title %}Ty Carlson | {{ page_title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}">

  <meta name="robots" content="noodp">
  <link rel="canonical" href="{% if page.url %}{{ page.url | absolute_url }}{% else %}{{site.url | absolute_url }}{% endif %}">
  <link rel="home" href="https://tywayne.com/" />
  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}Ty Carlson | {{ page_title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}">
  <meta property="og:url" content="{% if page.url %}{{ page.url | absolute_url }}{% else %}{{site.url | absolute_url }}{% endif %}">
  <meta property="og:site_name" content="ty carlson">
  <meta property="og:image" content="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/{{page.cover_img}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}">
  <meta name="twitter:title" content="{% if page.title %}Ty Carlson | {{ page_title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:site" content="@tywayne">
  <meta name="twitter:creator" content="@tywayne">
  <meta name="twitter:image" content="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/{{page.cover_img}}">
  <meta name="twitter:card" content="summary_large_image">

  {% include fonts.html %}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"/>
  <!-- <link rel="stylesheet" href="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/css/main.css?ver={{site.version}}"> -->

  <style type="text/css">

    {% capture critical %}
      {% include main.scss %}
    {% endcapture %}

    {{ critical | scssify }}

  </style>

	<script src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/js/turbolinks.js?ver={{site.version}}" defer></script>
	<script src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/js/app.js?ver={{site.version}}" defer></script>

  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include analytics.html %}
  {% endif %}

  <style>
    body.site{
      position: relative;
    }

    body.site:after {
      z-index: -1;
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .5;
      background-image: url("{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/bg.png?ver={{site.version}}");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
